MIA-104_Machine_Learning/EF_01/dataset/Export_Spectra.csv
MIA-104_Machine_Learning/EF_01/dataset/Export_Time.csv
MIA-104_Machine_Learning/EF_01/svm*
MIA-104_Machine_Learning/EF_01/nasa_bearing_dataset/*
MIA-203_redes_neuronales/Trabajo01/Peru-Plate-Numbers-3/*
MIA-203_redes_neuronales/trabajo01/datasets/*
MIA-203_redes_neuronales/trabajo01/resultados/*
MIA-203_redes_neuronales/trabajo01/runs/*
MIA-203_redes_neuronales/image-captioning-pytorch/models/*
MIA-203_redes_neuronales/image-captioning-pytorch/opt/cocoapi/*
MIA-203_redes_neuronales/image-captioning-pytorch/icpy/*
MIA-203_redes_neuronales/image-captioning-pytorch/.git/*