MIA-104_Machine_Learning/EF_01/dataset/Export_Spectra.csv
MIA-104_Machine_Learning/EF_01/dataset/Export_Time.csv
MIA-104_Machine_Learning/EF_01/svm*
MIA-104_Machine_Learning/EF_01/nasa_bearing_dataset/*
MIA-203_redes_neuronales/Trabajo01/Peru-Plate-Numbers-3/*
MIA-203_redes_neuronales/trabajo01/datasets/*
MIA-203_redes_neuronales/trabajo01/resultados/*
MIA-203_redes_neuronales/trabajo01/runs/*
MIA-203_redes_neuronales/image-captioning-pytorch/models/*
MIA-203_redes_neuronales/image-captioning-pytorch/opt/cocoapi/*
MIA-203_redes_neuronales/image-captioning-pytorch/icpy/*
MIA-203_redes_neuronales/image-captioning-pytorch/.git/*
MIA-203_redes_neuronales/parcial/facial_expression_recognition/ferpy/*
MIA-201_big_data/final_project/env/*
MIA-203_redes_neuronales/parcial/plate_recognition/content/*
MIA-203_redes_neuronales/parcial/pyparcial/*
MIA-201_big_data/final_project/env/*
MIA-203_redes_neuronales/parcial/plate_recognition/runs/*
MIA-203_redes_neuronales/parcial/plate_recognition/platepy/*
MIA-203_redes_neuronales/parcial/plate_recognition/Peru-Plate-Numbers-3/*
MIA-203_redes_neuronales/final/models/*
MIA-203_redes_neuronales/final/translatepy/*
MIA-203_redes_neuronales/final/spanish-to-quechua_weights/*
MIA-203_redes_neuronales/final/__pycache__/*